body {
    background-color: #53A180;
}
img {
    width: 11rem;
    height: 11rem;
    border: 3px solid #53A180;
}
#title {
    text-align: center;
    font-family: copperplate;
    font-size: 5em;
    margin-top: 1rem;
    color: rgba(180, 25, 46, 0.97);
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.piko-card {
    flex-basis: 25%;
    margin: 3em;
}

.piko-img {
    width: 100%;
    border-radius: 1em;
}

.piko-info {
    padding-left: 1.25rem;
}

.info-text {
    font-family: monospace;
    font-size: 1rem;
}

.piko-name {
    font-family: "copperplate", fantasy;
    font-size: 1.5em;
}

.piko-abilities {

}

.piko-category {

}

.piko-weakness {

}

.centerText {
    text-align: center;
}
.pikomon-card {
    background-color: blueviolet;
    width: 20%;
    padding: 1rem;
    text-align: center;
    border: 2px solid black;
    margin: 2rem;
    color: rgb(244, 248, 6);
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}